.card {
    margin: 20px 0;
    border-radius: 8px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9; /* Couleur de fond */
    padding: 15px; /* Espace interne */
    text-align: left;
}
